@import "compass/css3";
@font-face {
    font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

input[type=text] {
    width: 23%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #00B050;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #00B050;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #00B050;
    color: white;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 0px !important;
    font-weight: normal;
}

.hero-image {
    background-image: url("../assets/img/hero.svg");
    background-color: #cccccc;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo {
    width: 15%;
    margin-top: 3vh;
    margin-left: 10vh;
}

.subtitle {
    display: flex;
    text-align: left;
    color: #646464;
    margin-top: 5px;
}

.numbers {
    font-size: 10vh;
    margin-top: 0px;
    color: #5D97B7;
}

.step {
    margin-bottom: 5px;
}

.words {
    margin-left: 1vw;
}

.description {
    margin-top: 0px;
}

.dashed {

    border:  #00B050;
    transform: rotate(90deg);

}
.icon {
    width: 8vw;
}

.heading {
    color: #646464;
    font-size: 3.5vh;
}

/* scroll-down prompt animation */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 0px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

.hero-text {
    text-align: center;
    padding-top: 13vh;
    /* transform: translate(-50%, -50%); */
}